
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

OPENAI_API_KEY=""
OPENAI_API_BASE=""

NEON_DB_URL=""
NEON_DB_URL_ASYNC=""

QDRANT_URL="http://localhost:6333"